.Modal {
	position: fixed;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(34, 193, 195);
	background: linear-gradient(
		96deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);
}
