.CreateTaskButton {
	background-color: #61dafa;
	box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 50px;
	height: 60px;
	width: 60px;
	position: fixed;
	bottom: 90px;
	right: 35px;
	font-weight: bold;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
