.TaskSearch {
	border-radius: 2px;
	border: 2px solid #202329;
	margin: 0 24px;
	height: 55px;
	width: 70%;
	font-size: 22px;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	color: #1e1e1f;
}

.TaskSearch::placeholder {
	color: #a5a5a5;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
}

.TaskSearch:focus {
	outline-color: #61dafa;
}

@media (max-width: 425px) {
	.TaskSearch {
		height: 35px;
		font-size: 17px;
	}
}
